.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: 'red';
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: 'lightgreen';
  color: black;
}

.tiktok {
  font-family: Heboo;
  font-size: 60px;
  color: white;
  letter-spacing: 10px;
  text-shadow: 4px 2px 0 red, -4px -2px 0 blue;
  cursor: pointer;
}

.tiktok:hover {
  animation: shadows 0.2s ease-in infinite;
}

@keyframes shadows {
  0%,
  100% {
    text-shadow: 4px 0 0 red, 0 -4px 0 blue;
  }
  25% {
    text-shadow: 4px 4px 0 red, -4px -4px 0 blue;
  }
  50% {
    text-shadow: 0 4px 0 red, -4px 0 0 blue;
  }
  75% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
}
